#stateData {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #stateData td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #stateData tr:nth-child(even){background-color: #f2f2f2;}
  
  #stateData tr:hover {background-color:#98AFC7;}
  
  #stateData th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }